
<div class="p-grid">
  <span class="p-col-12">
    <h2>Add a new user</h2>
  </span>

  <div class="p-grid" [formGroup]="form">
     <span class="p-col-2">

    </span>
    <input class="p-mr-2 p-d-inline" id="fname" placeholder="First name" formControlName="firstName" pInputText #userFName/>
    <input class="p-mr-2 p-d-inline" id="lname" placeholder="Last name" formControlName="lastName" pInputText #userLName/>
    <input class="p-mr-2 p-d-inline" id="nationality" placeholder="Nationality" formControlName="nationality" pInputText #userNationality/>
    <input class="p-mr-2 p-d-inline" id="momsname" placeholder="Mom's name" formControlName="momsName" pInputText #userMomName/>
    <p-dropdown  [options]="countries" formControlName="country" placeholder="Countries" optionLabel="name" [showClear]="true"></p-dropdown>
    <p-calendar formControlName="dateOfBirth"></p-calendar>
    <input class="p-mr-2 p-d-inline" id="number" placeholder="Number" formControlName="number"  pInputText #Number/>
    <span class="p-col-2">

    </span>
    <div class="p-col-2 p-field">
      <h3>
        Gender
      </h3>
      <p-selectButton [options]="genderStateOptions" formControlName="gender" optionLabel="label" optionValue="value"></p-selectButton>
    </div>

    <div class="p-col-2">
      <h3 >
        Status
      </h3>
      <p-radioButton formControlName="status" name="status" value="Done" inputId="status1"></p-radioButton>
      Done
      <p-radioButton formControlName="status" name="status" value="New" inputId="status2"></p-radioButton>
      New
      <p-radioButton formControlName="status" name="status" value="In process" inputId="status3"></p-radioButton>
      In process
    </div>

  </div>
  <div class="p-buttonset p-col-12">

    <button pButton pRipple label="Add new" icon="pi pi-check"
            (click)="confirm($event);
            userFName.value='';userLName.value=''; userMomName.value=''; userNationality.value='';"></button>
    <p-confirmPopup></p-confirmPopup>
    <button pButton pRipple label="Back" (click)="closeNewUser()"></button>
  </div>
</div>
