<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<h1>
  List of users
</h1>
<div class="p-grid ">

    <div class="p-col-12">
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <p-button label="New" icon="pi pi-plus" (click)="createNewUser()"></p-button>
          <p-button label="Edit" icon="pi pi-pencil" (click)="editUser()"  ></p-button>
          <p-button (click)="delete()" icon="pi pi-trash" label="Delete"></p-button>
        </div>
      </p-toolbar>
    </div>
    <div class="p-col-12">
    <span class="p-col-12 p-float-label">
      <input id="fname"  type="text" placeholder="First name" pInputText #userFName />
      <input id="lname"  type="text" placeholder="Last name" pInputText #userLName />
      <input id="nationality"  type="text" placeholder="Nationality" pInputText #userNat />
      <input id="momname"  type="text" placeholder="Mom's name" pInputText #userMomName />
      <input id="BD"  type="text" placeholder="Birth day" pInputText #userBD />
      <input id="number"  type="text" placeholder="Number" pInputText #userNumber />
      </span>
      <p-button label="Search" icon="pi pi-search" (click)="search(userFName.value, userLName.value, userMomName.value, userNumber.value )"></p-button>
    </div>
    <div class="card p-col-12 ">
      <p-table [value]="filteredUsers" styleClass="p-datatable-striped" selectionMode="single" [(selection)]="selectedUser" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="firstName">First name<p-sortIcon field="firstName"></p-sortIcon></th>
            <th pSortableColumn="lastName">Last name <p-sortIcon field="lastName"></p-sortIcon></th>
            <th pSortableColumn="country">Country <p-sortIcon field="country"></p-sortIcon></th>
            <th pSortableColumn="nationality">Nationality <p-sortIcon field="nationality"></p-sortIcon></th>
            <th pSortableColumn="momsName">Mother's name <p-sortIcon field="momsName"></p-sortIcon></th>
            <th>Registered </th>
            <th>Gender </th>
            <th pSortableColumn="birthDate">Birth date <p-sortIcon field="birthDate"></p-sortIcon></th>
            <th pSortableColumn="number">Number <p-sortIcon field="number"></p-sortIcon></th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr [pSelectableRow]="user">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.country}}</td>
            <td><ng-container *ngFor="let nat of user.nationality; let last = last;">{{nat.name}}<span *ngIf="!last">, </span></ng-container></td>
            <td>{{user.momsName}}</td>
            <td> <p-checkbox [(ngModel)]="user.registered"  binary="true" inputId="binary" (onChange)="saveChange(user)"></p-checkbox></td>
            <td>{{user.gender}}</td>
            <td>{{user.dateOfBirth| date:'YYYY/MM/d'}}</td>
            <td>{{user.number}}</td>
            <td>{{user.status}}</td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
